/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4caf50;
}

/* Botones */
 .btn-reiniciar {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

 .btn-reiniciar:hover {
    background-color: #f44336;
}

.container-btn {
    margin-top: 20px;
}

/* Contenedor del collage */
.collage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.profit-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
}

.profit-card h3 {
    text-align: center;
    color: #000408;
    margin-bottom: 10px;
}

.profit-card p {
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.profit-card button {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.profit-card button:hover {
    background-color: #3da555;
}

/* Contenedor de ganancias totales */
.profit-summary {
    margin-top: 20px;
    padding: 15px;
    background: #2fb3459c;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para la gráfica */
#grafica {
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
/* Estilo para el icono de retroceso */
.back-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px; /* Ajusta el tamaño */
    color: #f44336; /* Color rojo */
    cursor: pointer;
    z-index: 10;
}

.back-icon:hover {
    color: #d32f2f; /* Color al pasar el mouse */
}